<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plants App</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Plants app!</h1>
    <p>An app for collecting your favorite plants.</p>
    <form action="/plants" method="GET">
      <button type="submit">Get Started!</button>
    </form>
  </body>
</html>
